body {
    width: 1000px;
    height: 630px;
    margin: 0 auto;
    background: url(alien.jpg), no-repeat;
}

footer {
font-size: larger;
width: 300px;
height: 80px;
margin: auto;
padding: .2px;
clear: both;
border: 1px, solid, black;
background-color: rgb(223, 221, 221);
border-radius: 20px;
margin-top: 20px;
box-shadow: 6px 6px 10px black;

}

footer p {
text-align: center;
}

a:link {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

canvas {
float: left;
margin-top: 20px;
        
}

footer.esquerda {
float: left;
margin-left: 100px;
}

.pontos {
float: left;
margin: 50px 0px 0px 100px;
font-size: 50pt;
}